<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Authors</title>
  <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div>
  <h3 th:if="${authors.size() > 0}">Authors</h3>
  <h3 th:if="${authors.size() == 0}">Authors not Exist</h3>
  <table th:if="${authors.size() > 0}" class="basic">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
      <td th:text="${author.id}"></td>
      <td th:text="${author.fullName}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>